body{
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
 
header{
  font-weight: bold;
  overflow: hidden;
}
 
.head{
  float: left;
  margin-left: 2%;
  letter-spacing: 2px;
  font-family: cursive;
  color: chocolate;
  font-size: 1.3rem;
}
 
nav{
  float: right;
  margin-top: 1.5%;
  margin-right: 2%;
}
 
li{
  display: inline;
  padding: 1rem;
}
 
li a{
  text-decoration: none;
  color:#000;
 
}
 
.container{
  text-align: center;
  background: #225470 url(business.jpeg);
  height: 85.5vh;
  width: 100%;
  height:100%;
  position: relative;
}
 
.overlay{
  width: 100%;
  height: 100%;
  background: #225470;
  opacity: 0.85;
  position: absolute;
}
 
.main{
  margin: 2%;
  font-size: 2rem;
  color: #fff;
  z-index: 1;
}
h1{
  font-size: 3rem;
  color: #fff;
  z-index: 1;
}
 
.para{
  color: #fff;
  font-size: 1.5rem;
  color: #fff;
  z-index: 1;
  font-family: cursive;
}
 
.btn1{
  background-color: #fff;
  color: green;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  z-index: 1;
}
.btn1:hover{
  background-color:green;
  color: #fff;
}
 
.btn2{
  background-color: green;
  color: #fff;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 5px;
  margin-left: 3%;
  z-index: 2;
}
.btn2:hover{
  background-color: white;
  color: green ;
}
 
.box{
  margin: 0px;
  padding: 0px;
  z-index: 3;
  top:400px;
  position: relative;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color:green ;
 
}
 

